{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-8 news_content">
        {{ news.text|safe }}
        {% if news.comments %}
            <h3>Коментарии:</h3>
            {% for comment in news.comments %}
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">{{ comment.text }}</p>
                        <p class="card-text">
                            <small>Опубликовано: {{ comment.created.strftime('%d.%m.%Y') }} |
                                Автор: {{ comment.user.username }}</small>
                        </p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <form action="{{ url_for('news.add_comment') }}" method="POST">
            {{ comments_form.hidden_tag() }}
            <div class="form-group">
                {{ comments_form.comment_text.label }}
                {{ comments_form.comment_text() }}
            </div>
            {{ comments_form.submit() }}
        </form>
    </div>
    <div class="col-4">
        <h2>Пустой блок</h2>
    </div>
</div>
{% endblock %}